<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
      <Component Id="AppExe">
        <File Source="$(var.PublishPath)\AltAug.exe" KeyPath="yes" />
      </Component>
      <Component Id="Dependencies" Guid="1F256939-6BE9-422C-B890-67F4488E25E9">
        <File Source="$(var.PublishPath)\AltAug.Application.dll" />
        <File Source="$(var.PublishPath)\AltAug.deps.json" />
        <File Source="$(var.PublishPath)\AltAug.dll" />
        <File Source="$(var.PublishPath)\AltAug.Domain.dll" />
        <File Source="$(var.PublishPath)\AltAug.runtimeconfig.json" />
        <File Source="$(var.PublishPath)\AltAug.UI.dll" />
        <File Source="$(var.PublishPath)\av_libglesv2.dll" />
        <File Source="$(var.PublishPath)\Avalonia.Base.dll" />
        <File Source="$(var.PublishPath)\Avalonia.Controls.ColorPicker.dll" />
        <File Source="$(var.PublishPath)\Avalonia.Controls.DataGrid.dll" />
        <File Source="$(var.PublishPath)\Avalonia.Controls.dll" />
        <File Source="$(var.PublishPath)\Avalonia.DesignerSupport.dll" />
        <File Source="$(var.PublishPath)\Avalonia.Desktop.dll" />
        <File Source="$(var.PublishPath)\Avalonia.Dialogs.dll" />
        <File Source="$(var.PublishPath)\Avalonia.dll" />
        <File Source="$(var.PublishPath)\Avalonia.FreeDesktop.dll" />
        <File Source="$(var.PublishPath)\Avalonia.Markup.dll" />
        <File Source="$(var.PublishPath)\Avalonia.Markup.Xaml.dll" />
        <File Source="$(var.PublishPath)\Avalonia.Metal.dll" />
        <File Source="$(var.PublishPath)\Avalonia.MicroCom.dll" />
        <File Source="$(var.PublishPath)\Avalonia.Native.dll" />
        <File Source="$(var.PublishPath)\Avalonia.OpenGL.dll" />
        <File Source="$(var.PublishPath)\Avalonia.Remote.Protocol.dll" />
        <File Source="$(var.PublishPath)\Avalonia.Skia.dll" />
        <File Source="$(var.PublishPath)\Avalonia.Vulkan.dll" />
        <File Source="$(var.PublishPath)\Avalonia.Win32.dll" />
        <File Source="$(var.PublishPath)\Avalonia.X11.dll" />
        <File Source="$(var.PublishPath)\FluentAvalonia.dll" />
        <File Source="$(var.PublishPath)\H.InputSimulator.dll" />
        <File Source="$(var.PublishPath)\HarfBuzzSharp.dll" />
        <File Source="$(var.PublishPath)\LanguageExt.Core.dll" />
        <File Source="$(var.PublishPath)\libHarfBuzzSharp.dll" />
        <File Source="$(var.PublishPath)\libSkiaSharp.dll" />
        <File Source="$(var.PublishPath)\MicroCom.Runtime.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Bcl.AsyncInterfaces.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Configuration.Abstractions.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Configuration.Binder.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Configuration.CommandLine.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Configuration.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Configuration.FileExtensions.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Configuration.Json.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Configuration.UserSecrets.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.DependencyInjection.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Diagnostics.Abstractions.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Diagnostics.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.FileProviders.Abstractions.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.FileProviders.Physical.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.FileSystemGlobbing.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Hosting.Abstractions.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Hosting.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Logging.Abstractions.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Logging.Configuration.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Logging.Console.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Logging.Debug.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Logging.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Logging.EventLog.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Logging.EventSource.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Options.dll" />
        <File Source="$(var.PublishPath)\Microsoft.Extensions.Primitives.dll" />
        <File Source="$(var.PublishPath)\MoreLinq.dll" />
        <File Source="$(var.PublishPath)\SkiaSharp.dll" />
        <File Source="$(var.PublishPath)\System.Diagnostics.EventLog.dll" />
        <File Source="$(var.PublishPath)\System.Diagnostics.EventLog.Messages.dll" />
        <File Source="$(var.PublishPath)\TextCopy.dll" />
        <File Source="$(var.PublishPath)\Tmds.DBus.Protocol.dll" />
        <File Source="$(var.PublishPath)\YamlDotNet.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
