name: Release AltAug

on:
  push:
    branches: 
      - "master"
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: windows-latest

    env:
      Solution_Name: ./AltAug/AltAug.slnx
      Publish_Path: ./AltAug/bin/Release/net10.0-windows/win-x64/publish

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore
      run: dotnet restore ${{ env.Solution_Name }}

    - name: Build
      run: dotnet build ${{ env.Solution_Name }} -c Release --no-restore

    - name: Publish self-contained app
      run: dotnet publish ${{ env.Solution_Name }} -c Release -r win-x64 --self-contained true

    - name: Upload artifacts
      uses: actions/upload-artifact@v6
      with:
        name: AltAug-csharp
        path: ${{ env.Publish_Path }}

  release:
    needs: build
    runs-on: windows-latest

    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v7
      with:
        name: AltAug-csharp

    - name: Create GitHub release
      uses: softprops/action-gh-release@v2
      if: github.ref_type == 'tag'
      with:
        files: ./AltAug-csharp/**
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

